/* 
Write your CSS here 
Gap Colour: #000
White: #F0F1EC
Red: #E72F24
Black: #232629
Blue: #004592
Yellow: #F9D01E

For dimensions, see dimensions.png image.
HINT: Remember you can't change the properties of grid lines.
But grid lines are transparent!
*/